# Electricity Consumption Predictor

This project seeks to predict the electricity consumption in various nigerian cities and states using simple machine 

learning algorithm. The data available at this time is from the REA database. The expected outcome of the project are 

interactive dashboards and a simple web app, showing past and projected consumption levels. Factors which many affect the 

projected levels in any location which we may be able to infer from the data are future mini grids. Factors which many 

affect the projected levels in any location which we may require more data to analyse are population growth rate.

In [ ]:
#import data and save as dataframes 
import pandas as pd     
#import glob
import json

"""database = {}

for filename in glob.glob('REA energy db\*.json'):
    database[filename[14:-5]] = pd.read_json(filename)
    
print (database)"""
#c = json.load('REA energy db\existing_gas_lines.json')

#Build a function to import the json data to pandas dataframe
def import_json(path):
    
    with open(path) as json_data: 
        data = json.load(json_data)  #load json to python 
        
    lst = []  #create an empty list
    lst2 = []
    c = 0
    #loop through 'features' and build dataframe
    for i in data['features']:
        lst.append(pd.DataFrame(i['properties'],index=[0])) #Convert each 'property' feature to a dataframe
        #lst2.append(pd.DataFrame(i['geometry']['coordinates'])) #Convert each 'geometry' feature to a dataframe
        
        
        df = pd.concat(lst, ignore_index = True, sort=False)  #Concatenate the dataframes
        #df2 = pd.concat(lst2, ignore_index = True, sort=False)
    return pd.concat([df],axis=1)

df = import_json('REA energy db\distribution_infrastructure.json')
print (df.head(), df.tail(), df.info())

In [32]:
a =[2,5,8]

print (str(a)[0])

[

In [3]:
import pandas as pd

Help on function dot in module pandas.core.frame:

dot(self, other)
    Matrix multiplication with DataFrame or Series objects.  Can also be
    called using `self @ other` in Python >= 3.5.

    Parameters
    ----------
    other : DataFrame or Series

    Returns
    -------
    dot_product : DataFrame or Series

In [6]:
a = [3,5,71,8,5,4,96]
d =[4,0,7,9,6]
c = pd.DataFrame(a)
e = pd.DataFrame(d)

e

   0
0  4
1  0
2  7
3  9
4  6

In [7]:
e

   0
0  4
1  0
2  7
3  9
4  6